html, body {
	width: 8.5in !important;
	height: 11in !important;
	margin: 0;
	font-family: "Libre Baskerville", serif;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

header {
	background-color: #3a3a3a;
	padding: 0.666in 0.5in 0.1875in;
}

header h1,
header h2 {
	color: white;
	margin: 0;
	text-align: center;
}

header h1 { font-size: 41px; }

header h2 {
	margin-top: 0.166em;
	font-weight: normal;
	font-size: 18px;
}

h3 {
	font-size: 21px;
	margin-bottom: 0.66em;
}
aside h3 {
	font-size: 18px;
	margin-bottom: 0.25em;
}

h4 {
	font-size: 15px;
}

p, ul, span, code, tt, kbd, td {
	font-size: 12px;
	line-height: 1.4;
}
code {
	font-family: "Lucida Console", monospace;
}

ul.bulleted {
	padding-left: 2.5em;
	list-style: initial;
}

/* Neutralize all links in print */
@media only print {
	a {
		color: inherit;
		text-decoration: none;
	}
	abbr, abbr[title] {
		border-bottom: none;
	}
}

#main {
	overflow: hidden;
	padding: 0.333in 0.5in 0.1666in;
}
#main:before,
#main:after {
	content: "";
	display: table;
}
#main:after {
	clear: both;
}
#main {
	zoom: 1;
}

#left, #right {
	display: inline-block;
	vertical-align: top;
}

#left aside:first-child h3,
#right h3:first-child {
	margin-top: 0;
}

#left {
	width: 20%;
	padding-right: 5%;
}

#right {
	width: 74.36%;
}

span.sm-caps {
	font-size: small;
	font-variant: small-caps;
}
span.fa {
	width: 1em;
	margin-left: 1px;
	text-align: center;
}

table .years {
	width: 13%;
	padding-right: 2%;
	vertical-align: top;
}
table .years .months {
	font-size: 11px;
}
table .job-title {
	width: 75%;
	font-size: 13px;
	font-weight: bold;
}
table .employer {
	font-style: italic;
}
table .type {
	text-align: right;
	vertical-align: bottom;
	color: #999;
	font-size: x-small;
}
table .job-description {
	padding-top: 0.33em;
	padding-bottom: 0.5em
}
table .job-description p:first-child {
	margin-top: 0;
}
table .job-description p:last-child {
	margin-bottom: 0;
}

#previous-work {
	color: #555;
	font-style: italic;
}
#previous-work strong {
	font-weight: 600;
}
#previous-work p {
	display: inline;
}
#previous-work ul {
	display: inline;
	margin: 0;
	padding: 0;
	list-style: none;
}
#previous-work li {
	display: inline;
}
#previous-work li:not(:last-child):after {
	content: " •";
	color: #555;
	padding: 0 .5em;
}


section.project {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	width: 49%; /* WHY CSS? */
	border: none;
	vertical-align: top;
}
.row section.project:first-child {
	padding-right: 1.5%;
}
.row section.project:last-child {
	padding-left: 1.5%;
}

#right h3:last-of-type ~ .row section.project h4 {
	margin-top: 0em;
}

aside {
	text-align: right;
}

section h4 {
	margin-bottom: 0.25em;
	border-bottom: none;
}

aside ul,
table ul {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

aside p,
section p {
	margin-top: 0;
}

footer {
	font-size: x-small;
	text-align: center;
}
