@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&display=swap');

html, body {
	margin: 0;
	font-family: 'Libre Baskerville', serif;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

body {
	background: black;
}

header {
	background-color: #3a3a3a;
	border-bottom: 1px solid #333;
	padding: 0.666in 0.5in 0.1875in;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	position: relative;

	.last-modified {
		position: absolute;
	    font-size: x-small;
	    color: white;
	    opacity: 25%;
	    right: 0.25in;
	    top: 0.25in;
	}

	h1,
	h2 {
		color: white;
		margin: 0;
		text-align: center;
	}
	
	h1 { font-size: 41px; }

	h2 {
		margin-top: 0.166em;
		font-weight: normal;
		font-size: 18px;
	}
}

h3 {
	font-size: 21px;
	margin-bottom: 0.66em;
}
aside h3 {
	font-size: 18px;
	margin-bottom: 0.25em;
}

a {
	color: #910;
}

h4 {
	font-size: 14px;
	margin: 0 0 0.333em;
	line-height: 100%;
}

p, ul, span, code, tt, kbd, td {
	font-size: 12px;
	line-height: 1.4;
}

ul.bulleted {
	padding-left: 2.5em;
	list-style: initial;
}

#resume-container {
	width: 8.5in;
	margin: 0 auto;
	background: white;
}

@media only print {
	a {
		color: inherit;
		text-decoration: none;
	}
	abbr, abbr[title] {
		border-bottom: none;
	}

	body {
		background: initial;
	}

	#resume-container {
		width: initial;
		height: initial;
		margin: initial;
	}
}

#main {
	display: grid;
	height: 100%;
	grid-gap: 0;
	grid-template-columns: 11fr 29fr;
	grid-template-rows: 1.6in auto;
}

#letter-content {
	padding: .25in;
	grid-column-start: 1;
	grid-column-end: 999;

	p{font-size:12pt;}
}

#left aside:first-child h3,
#right h3:first-child {
	margin-top: 0;
}

#left {
	padding: .25in .25in .25in 0;
	background-color: #eee;
	border-right: 1.5px solid #ebebeb;
	grid-column-start: 1;
	grid-row-start: 2;
	display: flex;
	flex-direction: column;

	aside {
		text-align: right;
		padding-left: 1em;
	}
}

#right {
	padding: .25in;
	grid-column-start: 2;
	grid-row-start: 2;

	section + section {
		margin-top: 1.5em;
	}
}

span {
	&.sm-caps {
		font-size: small;
		font-variant: small-caps;
	}

	&.sm {
		font-size: x-small;
		color: #999;
	}

	&.fa {
		width: 1em;
		margin-left: 1px;
		text-align: center;
	}

	&.in-progress {
		font-style: italic;
		color: #999;
	}

	&.company-name {
		font-style: italic;
		// font-size: 13px;
	}

	&.location {
		color: #444;
	}
}

table {
	border-spacing: 0 0.5em;
	margin-top: -0.5em;
	margin-bottom: -0.5em;

	.years {
		width: 13%;
		padding-right: 2%;
		vertical-align: top;

		.date-modifier {
			color: #555;
		}
		
		.months {
			font-size: 11px;
		}
	}

	.employer {
		font-style: italic;
		.location {
			font-style: normal;
		}
	}

	.job-details h4 {
		display: inline;
		margin: 0;

		&:after {
			content: "\00a0∙\00a0";
		}
	}

	tr.previous {
		color: #555;
	}

	td {
		vertical-align: top;
	}

	p { margin: 0; }
}

#projects {
	.technologies {
		display: inline;
		padding: 0em;
		color: #555;

		li {
			display: inline;

			&:not(:first-child):before {
				content: '\00a0\00a0•\00a0\00a0';
				color: #777;
			}
		}
	}

	&.short {
		.project {
			&:not(:last-child) { margin-bottom: 0.45em; }

			h2, h3, h4, h5, h6 {
				display: inline;

				&:after {
					content: '\00a0\00a0\00a0';
				}
			}

			.description {
				display: none;
			}
		}
	}

	&.long {
		.project {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 0.5em;

			.technologies {
				display: none;
			}
		}
	}
}

#plug {
	text-align: right;
	margin-top: auto; // aligns to bottom
	padding-left: 1em;

	p { 
		opacity: 25%;
		font-size: x-small;
		margin-bottom: 0;
	}
}

aside ul,
table ul {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

aside p,
section p {
	margin-top: 0;
}
